.icon-row {
    margin: 0 auto 10px auto;
    width: 70%;
    background-color: #f8f9f9;
    border-radius: 8px;
    padding: 10px 0 10px 0;
    border: 1px solid gainsboro;

    .slick-prev:before,
    .slick-next:before {
        color: #2c3d50;
    }

    span {
        margin-left: 8px;
    }
}

.icon-item {
    width: 140px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 0 0 10%;
    border-bottom: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;

    // .MuiSvgIcon-root {
    //     color: aqua;
    // }

    span {
        margin-right: 8px;
    }
}

.icon-item:hover {
    background-color: #2c3d50; /* Change to your desired color */
    color: white;
}

.icon-item.selected {
    background-color: #2c3d50; /* Change to your desired color */
    color: white;
}
