.home {
    background-color: #f8f9f9;
    padding: 20px 0 40px 0;
    height: fit-content;
    min-height: 100vh;
    color: #2c3d50;

    .shared-title {
        margin-left: 30px;
    }

    .home_container {
        padding: 40px 40px 40px 40px;
        background-color: white;
        /* Optional: Add a max-width to limit the width of the container */
        max-width: 91%; /* Adjust as needed */
        margin: 0 auto;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .refresh-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                font-size: 24px;
            }

            .right {
                button {
                    background-color: #2c3d50;
                    border: none;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                    transition: 0.4s;
                }
                button:hover {
                    background-color: #1c2833;
                }
            }
        }

        .item-list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;

            .item-container {
                width: 20%;
                margin: 20px 0 20px 0;
                border-radius: 8px;
                border: 1px solid;
                border-color: gainsboro;

                .item-top {
                    .item-title {
                        font-size: 20px;
                        text-align: center;
                        font-weight: 600;
                        margin-top: 20px;
                    }

                    .item-body {
                        display: flex;
                        height: 100px;
                        justify-content: space-around;

                        .left,
                        .right {
                            font-size: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .right {
                            .btn {
                                cursor: text;

                                &.success {
                                    background-color: #2ecc71;
                                    padding: 4px 10px 4px 10px;
                                    border-radius: 100%;
                                }

                                &.cancel {
                                    background-color: #e74c3c;
                                    padding: 4px 10px 4px 10px;
                                    border-radius: 100%;
                                }

                                &.temp {
                                    background-color: #dce73c;
                                    padding: 4px 10px 4px 10px;
                                    border-radius: 100%;
                                }

                                &.info {
                                    background-color: #3cb1e7;
                                    padding: 4px 10px 4px 10px;
                                    border-radius: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
