.edit {
    width: 100%;
    background-color: #f3fdf3;
    height: 100vh;
    padding: 20px 30px 0px 30px;

    .detailContainer {
        background-color: white;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        padding: 40px 10px 40px 10px;

        .productCreate {
            display: flex;

            .right {
                margin-left: 6%;
            }
        }

        .image_container {
            margin: 10px 0 0 40px;
            position: relative;

            img {
                width: 450px;
                height: 300px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .prodTitle {
            padding: 20px 20px 0 40px;
            width: 100%;
            font-size: 22px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                margin-bottom: 10px;
            }

            .link {
                text-decoration: none;
                color: white;
                background-color: #2ecc71;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;

                svg {
                    margin-right: 6px;
                }

                p {
                    margin: 0;
                }
            }

            .link:hover {
                background-color: #27ae60;

                p {
                    color: white;
                }
            }
        }

        .imageAdd {
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .imageAdd:hover {
            background: rgb(231, 231, 231);
        }

        .details {
            .detailItem {
                margin-bottom: 20px;
                font-size: 16px;
                display: flex;
                padding: 0px 0 10px 10px;
                margin: 0px 20px 20px 20px;
                align-items: center;

                .itemKey {
                    width: 180px;
                    font-weight: bold;
                    margin-right: 5px;
                }

                .basic-single {
                    width: 320px;
                }

                .itemValue {
                    font-weight: 300;
                }
            }
        }
    }
}
