.product {
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding-top: 20px;
    background-color: #f8f9f9;

    .sharedTitle {
        padding: 0 30px 0 30px;
    }

    .productContainer {
        /* Optional: Add a max-width to limit the width of the container */
        max-width: fit-content; /* Adjust as needed */
        margin: 0 30px 0 30px;
        overflow: auto;
        background-color: white !important;
        border-radius: 8px;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        padding: 30px 40px 40px 40px;

        .tableHeader {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .left {
                input {
                    width: 300px;
                }
            }

            .right {
                display: flex;

                button {
                    margin: 0 0 0 10px;
                }

                span {
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
        }

        .link {
            text-decoration: none;
            color: white;
            background-color: #2ecc71;
            font-size: 16px;
            padding: 12px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            border: none;
            justify-content: center;

            span {
                margin-right: 10px;
            }

            p {
                margin: 0;
            }
        }

        .link:hover {
            background-color: #27ae60;

            p {
                color: white;
            }
        }
    }
}
