.shared-title {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2c3d50;

    .title {
        font-size: 30px;
        font-weight: bold;
    }

    .sub-title {
        font-size: 18px;
        font-weight: 600;
    }

    .navigation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .return-title {
                font-size: 30px;
                font-weight: bold;
            }

            .return-body {
                display: flex;
                font-size: 18px;
                font-weight: 600;
            }
        }

        p,
        svg {
            margin: 0;
            height: 44px;
            line-height: 44px;
        }

        .navigateButton {
            background-color: white;
            color: black;
            font-size: 18px;
            display: flex;
            text-decoration: none;
            border: #2c3d50 1px solid;
            padding: 0 15px 0 15px;
            border-radius: 20px;
            margin-right: 20px;
            transition: 0.4s;
            font-weight: 600;

            p {
                margin-left: 10px;
            }
        }

        .navigateButton:hover {
            background-color: #2c3d50;
            color: white;
            font-weight: 600;
        }
    }

    p {
        margin-bottom: 10px;
    }

    .link {
        text-decoration: none;
        color: white;
        background-color: #2c3d50;
        font-size: 16px;
        padding: 4px 8px 4px 8px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: 0.4s;

        svg {
            margin-right: 6px;
        }

        p {
            margin: 0;
        }
    }

    .link:hover {
        background-color: #1c2833;
    }
}
