.cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.PERMANENT_STOP {
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
    }

    &.AVAILABLE {
        background-color: rgba(0, 128, 0, 0.05);
        color: green;
    }

    &.TEMPORARY_STOP {
        background-color: rgb(255, 255, 221);
        color: yellow;
    }
}
