.supplier {
    background-color: #f8f9f9;
    padding: 20px 0 40px 0;
    height: fit-content;
    min-height: 100vh;

    .link {
        span {
            font-weight: 600;
            margin-left: 10px;
        }
    }

    p {
        padding-left: 30px;
    }

    .icon-item {
        width: 130px !important;
    }

    .supplierContainer {
        padding: 40px 40px 40px 40px;
        background-color: white;
        /* Optional: Add a max-width to limit the width of the container */
        max-width: 91%; /* Adjust as needed */
        margin: 0 auto;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.1),
            0 6px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}
