.supplierDetailContainer {
    width: 100%;
    height: fit-content;
    background-color: #f3fdf3;
    padding: 20px 30px 40px 30px;

    .mapContainer {
        padding-left: 40px;
    }

    .tableProducts {
        margin: 20px 0 0 40px;
        width: 1402px;
    }

    .productTable {
        height: 360px !important;
    }

    .detailContainer {
        background-color: white;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        padding: 10px 10px 80px 10px;

        .prodTitle {
            padding: 20px 20px 0 40px;
            width: 100%;
            font-size: 30px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin-bottom: 10px;
            }

            .link {
                text-decoration: none;
                color: white;
                background-color: #2ecc71;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;

                svg {
                    margin-right: 6px;
                }

                p {
                    margin: 0;
                }
            }

            .link:hover {
                background-color: #27ae60;

                p {
                    color: white;
                }
            }
        }

        .rowTitle {
            padding: 40px 20px 0 40px;
            width: 100%;
            font-size: 22px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                text-decoration: none;
                color: white;
                background-color: #2ecc71;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;

                svg {
                    margin-right: 6px;
                }

                p {
                    margin: 0;
                }
            }

            .link:hover {
                background-color: #27ae60;

                p {
                    color: white;
                }
            }
        }

        .image_container {
            margin: 10px 0 0 40px;

            img {
                width: 450px;
                height: 300px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .supplierDetail {
            margin-top: 20px;
            display: flex;
            justify-content: start;

            .right {
                margin-left: 8%;
            }
        }

        .details {
            .detailItem {
                font-size: 16px;
                display: flex;
                padding: 10px 0 10px 10px;
                margin: 10px 20px 20px 20px;

                .itemKey {
                    width: 200px;
                    font-weight: bold;
                    margin-right: 5px;
                }

                .itemValue {
                    font-weight: 300;

                    .paymentType {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
