.supplierDetailContainer {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 30px 40px 30px;
    height: fit-content;
    min-height: 100vh;

    .mapContainer {
        padding-left: 40px;
    }

    .supplier-prod {
        width: 1400;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        width: 1000px;

        .left {
            display: flex;
            input {
                width: 300px;
            }

            button {
                margin-left: 10px;
            }
        }

        .right {
            display: flex;

            button {
                margin: 0 0 0 10px;
                span {
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
        }

        .link {
            text-decoration: none;
            color: white;
            background-color: #2ecc71;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            border: none;
            justify-content: center;

            p {
                margin: 0;
            }

            span {
                margin: 0 10px 0 10px;
            }
        }

        .link:hover {
            background-color: #27ae60;

            p {
                color: white;
            }
        }
    }

    .modify-supplier {
        text-decoration: none;
        color: white;
        background-color: #2e80cc;
        font-size: 16px;
        padding: 4px 10px 4px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }
    }

    .modify-supplier:hover {
        background-color: #273bae;

        p {
            color: white;
        }
    }

    .tableProducts {
        margin: 20px 0 0 40px;
        width: 1002px;

        .detail-table {
            padding-bottom: 40px;
        }

        .icon-item {
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            span {
                margin-right: 8px;
            }
        }

        .icon-item.selected {
            border-bottom-color: #2ecc71; /* Change to your desired color */
            border-width: 4px;
            background-color: #f7f7fb;
        }

        .link {
            text-decoration: none;
            color: white;
            background-color: #2ecc71;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;

            p {
                margin: 0;
            }
        }

        .link:hover {
            background-color: #27ae60;

            p {
                color: white;
            }
        }
    }

    .productTable {
        height: 360px !important;
        width: 1002px !important;
    }

    .bottom {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .detailContainer {
        background-color: white;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        padding: 10px 10px 80px 10px;

        .supplier-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .reason {
                cursor: pointer;
                margin: 0 0 10px 30px;
                font-weight: normal;
                font-size: 18px;
            }

            .status {
                margin-left: 30px;
                font-weight: normal;
                font-size: 18px;
                padding: 10px;

                color: white;
                border-radius: 10px;
            }

            .confirmed {
                background-color: #28b463;
                font-size: 16px;
            }

            .cancelled {
                background-color: #e74c3c;
                font-size: 16px;
            }
        }

        .prodTitle {
            padding: 20px 20px 0 40px;
            width: 100%;
            font-size: 30px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin-bottom: 10px;
            }

            .link {
                text-decoration: none;
                color: white;
                background-color: #2ecc71;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;

                svg {
                    margin-right: 6px;
                }

                p {
                    margin: 0;
                }
            }

            .link:hover {
                background-color: #27ae60;

                p {
                    color: white;
                }
            }
        }

        .rowTitle {
            padding: 40px 20px 0 40px;
            width: 100%;
            font-size: 22px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                text-decoration: none;
                color: white;
                background-color: #2ecc71;
                font-size: 16px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;

                svg {
                    margin-right: 6px;
                }

                p {
                    margin: 0;
                }
            }

            .link:hover {
                background-color: #27ae60;

                p {
                    color: white;
                }
            }
        }

        .image_container {
            margin: 10px 0 0 40px;

            img {
                width: 450px;
                height: 300px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .supplierDetail {
            margin-top: 20px;
            display: flex;
            justify-content: start;

            .right {
                margin-left: 8%;
            }
        }

        .details {
            .detailItem {
                font-size: 16px;
                height: 40px;
                display: flex;
                padding: 10px 0 10px 10px;
                margin: 10px 20px 20px 20px;

                .itemKey {
                    width: 200px;
                    font-weight: bold;
                    margin-right: 5px;
                }

                .itemValue {
                    font-weight: 300;

                    .paymentType {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
